services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    working_dir: /app
    volumes:
      - ./web:/app
    env_file:
      - ./.env
    ports:
      - "3000:3000"
    command: sh -c "npm install && npm run dev"
