services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    working_dir: /app
    volumes:
      - ./web:/app
      # - next_cache:/app/.next
      # - node_modules:/app/node_modules
    env_file:
      - ./.env
    ports:
      - "3000:3000"
    command: sh -c "npm install && npm run dev"

# volumes:
#   next_cache:
#   node_modules:
